.indicators {
	display: flex;
	flex-flow: row nowrap;
	margin: 1em 0;
	max-height: 16em;
}
.indicators .help {
	position: absolute;
	font-size: 0.6em;
	right: 1em;
	top: 1em;
}
.indicators h2 {
	text-transform: uppercase;
	color: #111111;
	font-size: 0.8em;
	text-align: center;
	margin: 1.5em 0 2em 0;
}
.chart.ranking {
}
.chart.ranking li {
	display: flex;
	flex-flow: row wrap;
	margin: 0 0 1em 0;
}
.chart.ranking.comparative li {
	flex-flow: row nowrap;
}
.chart.ranking.comparative li .info {
	flex: 1;
	display: flex;
	flex-flow: row wrap;
}
.chart.ranking li:last-child {
	margin: 0;
}
.chart.ranking.slim label {
	width: 80%;
	margin: 0;
	padding: 0;
	white-space: nowrap;
	text-overflow: ellipsis;
	position: relative;
	overflow: hidden;
	color: #537e8b;
	font-size: 0.95em;
}
.chart.ranking output {
	width: 18%;
	text-align: right;
	flex: 1 0 auto;
	color: #537e8b;
}
.chart.ranking.comparative label {
	flex: 1;
	padding: 0;
}
.chart.ranking .bar {
	flex: 1 0 auto;
	width: 100%;
	height: 6px;
	background-color: #b3c8d0;
	display: flex;
	margin: 0.25em 0;
}
.chart.ranking .bar span {
	flex: 0 0 auto;
	background-color: #434343;
}
.chart.portion {
	padding: 0 calc(10% + 1em);
	height: calc(100% - 6em);
}
.chart.ring {
	display: flex;
	align-items: center;
	height: calc(100% - 6em);
}
.chart.ring ul {
	font-size: 0.85em;
	color: #6a787b;
}
.chart.ring li {
	margin: 0.75em 0;
	padding-left: 1em;
	display: flex;
	align-items: start;
}
.chart.ring li:first-child,
.chart.ring li:last-child {
	margin: 0;
}
.chart.ring b {
	border-radius: 50%;
	width: 0.75em;
	display: inline-block;
	height: 0.75em;
	margin: 0.2em 0.7em 0 -1.1em;
	flex: 0 0 auto;
}
.chart.comparative {
	display: grid;
	grid-gap: 0.15em;
	grid-template-columns: 4fr 1fr;
	grid-template-rows: 1fr 1fr 8fr;
	margin: 0 0 2em 0;
	height: 19em;
}
.chart.comparative.line {
	grid-template-columns: 80% 20%;
	grid-template-rows: 1fr 1fr 8fr;
}
.chart.comparative.ranking {
	height: auto;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto 1fr;
}
.chart.comparative h3 {
	grid-column: 1;
	grid-row: 1;
	align-items: end;
	display: grid;
}
.chart.comparative h3 small {
	font-size: 1em;
	opacity: 0.5;
	margin-left: 0.5em;
}
.chart.comparative .tools {
	grid-column: 2/3;
	grid-row: 1;
	justify-content: end;
	display: grid;
	margin: 0em 0 0 0em 0;
	align-items: end;
	height: 2.3em;
}
.chart.comparative header {
	background-color: #fff;
	display: flex;
	height: 2.75em;
	font-size: 0.9em;
	position: relative;
	grid-column: 1/2;
	grid-row: 2;
}
.chart.comparative.ranking header {
	grid-column: 1/3;
	grid-row: 2;
}
.chart.comparative header div {
	position: relative;
}
.chart.comparative button {
	background-color: transparent;
	color: #527b89;
	font-weight: normal;
	height: 100%;
	display: flex;
	align-items: center;
	padding: 0;
}
.events li button {
    background-color: transparent;
    color: #527b89;
    font-weight: normal;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0;
}
.chart.comparative .period{
	position: relative;
}
.chart.comparative header>.period::after {
	content: "";
	width: 3em;
	height: 100%;
	position: absolute;
	top: 0em;
	right: 0em;
	z-index: 0;
	background: transparent url('images/arrow-separator.svg') no-repeat right center / cover;
	filter: brightness(1.065);
}
.chart.comparative header>.period {
	padding: 0 0.25em 0 0;
}
.chart.comparative .period>button {
	display: flex;
	align-items: center;
	position: relative;
	z-index: 1;
	width: 6em;
	justify-content: center;
	font-weight: bold;
}
.chart.comparative header .menu,
.menu {
	position: absolute;
	z-index: 2;
	background-color: #fff;
	padding: 0.5em;
	filter: drop-shadow(0 0 0.1em #527b89);
	top: 3.4em;
	right: -0.75em;
	display: none;
	max-height: 30em;
}
.chart.comparative header li {
	padding: 0.5em 1em;
	margin: 0;
}
.chart.comparative header .show {
	display: block;
}
.chart.comparative header .dataset {
	display: flex;
	align-items: center;
	box-shadow: 0.15em 0 0 0 #eef2f5;
	padding: 0 0.5em 0 0.25em;
}
.chart.comparative header .date {
	display: flex;
	padding: 0 0.25em;
	color: inherit;
	height: 100%;
	align-items: center;
}
.chart.comparative button.toggle::after {
    content: "";
    background: transparent url(images/arrow-option.svg) center no-repeat;
    width: 1em;
    height: 1em;
    display: inline-block;
    margin: 0.1em 0 0 0.25em;
}
.chart.comparative .color {
	width: 1em;
	height: 1em;
	margin: 0 0.5em;
}
.chart.comparative .search {
	height: 100%;
}
.chart.comparative .search button {
	text-transform: uppercase;
	color: inherit;
	margin: 0 1em;
	white-space: nowrap;
}
.chart.comparative .search .icon {
	width: 2em;
	height: 2em;
	flex: 0 0 auto;
	margin: 0 0.5em 0;
	border-radius: 50%;
	background: url('images/search.svg') no-repeat center / 60%;
}
.chart.comparative .search button span {
	display: inline-block;
	text-overflow: ellipsis;
	max-width: 8em;
	overflow: hidden;
}
.chart.comparative .search .menu {
	padding: 0.75em;
	width: 13.5em;
}
.chart.comparative .filter {
	margin: 0 1em 0 auto;
	padding: 0 0 0 1em;
}
.filter button.toggle span {
	background: url('images/filter.svg') no-repeat right center / 2em;
	padding: 0 2em 0 0;
	height: 2em;
	display: flex;
	align-items: center;
}
.chart.comparative .groupedby {
	margin 0 0 0 auto;
	margin: 0 0 0 auto;
	box-shadow: 0.15em 0 0 0 #eef2f5;
	padding: 0 1em 0 0;
}
.chart.comparative .search ul {width: 100%;}
.chart.comparative .search li {
	margin: 0;
}
.chart.comparative .search li:hover {
}
.chart.comparative .dataset .remove {
	background: transparent url('images/close.svg') no-repeat center/50%;
	width: 1.75em;
	opacity: 0.5;
}
.chart.comparative .add {
	background: transparent url('images/plus.svg') no-repeat center/70%;
	width: 1em;
	filter: brightness(0.5) sepia() hue-rotate(200deg);
	margin: 0 0 0 0.62em;
	padding: 0 1em;
}
.chart.comparative .optionsSearch {
	animation: loading infinite;
	margin: 1em 0 0 0;
	max-height: 10em;
	overflow: auto;
	width: 12em;
	min-height: 6em;
}
.chart.comparative .optionsSearch .loading {
	height: 3em;
	width: 3em;
	position: absolute;
	top: 1em;
	left: 4.3em;
}

.chart.comparative header .filter .menu::before {
	right 0;
	right: 2em;
	left: auto;
}
.tabset {
	box-shadow: 0 -0.2em 0 0 rgba(123, 163, 177, 0.33) inset;
	display: flex;
	flex-flow: row nowrap;
	z-index: 1;
	background-color: inherit;
}
.player .tools .tabset button, 
.filters .tabset button,
.tabset button {
	background-color: transparent;
	color: #527b89;
	font-weight: normal;
	height: 100%;
	display: flex;
	align-items: center;
	padding: 1em;
	font-size: 0.95em;
	min-width: 8em;
	text-align: center;
	justify-content: center;
	margin: 0;
}
.tabset button:hover {
	box-shadow: 0 -0.2em 0 0 rgba(123, 163, 177, 0.75) inset;
	color:;
}
.tabset button.selected {
    font-weight: 500;
    color: #fe4400;
    box-shadow: 22 -0.35em 0 -0.1em rgba(255, 80, 0, 0.65) inset;
}
.filters .tabcontent {
	padding: 1em 0.5em 0em 0.5em;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;
	max-height: 20em;
	overflow: auto;
}
.tabcontent ul {
    align-self: start;
    margin: 0;
    overflow: auto;
    height: 100%;
}
.tabcontent.seriousness li {
	padding: 0.5em 1em;
}
.seriousness ul {
	flex: 0 1 auto;
}
.filters .seriousness div.levels,
.seriousness div.levels {
	flex: 0 0 auto;
	height: 8em;
	width: 8em;
	border-radius: 50%;
	box-shadow: 0 0 0 0.1em #cddce2;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 1em 0 0;
	font-size: 1em;
}
.seriousness .levels div {
	height: 4em;
	display: flex;
	align-items: flex-end;
	font-size: 0.6em;
}
.seriousness .levels span {
	width: 1em;
	background-color: rgba(150, 184, 197, 0.6);
	margin: 0 0.18em;
}
.seriousness .level_0 {
	height: 1.8em;
}
.seriousness .level_1 {
	height: 2.5em;
}
.seriousness .level_2 {
	height: 3.2em;
}
.seriousness .level_3 {
	height: 4em;
}
.seriousness .levels .selected {
	background-color: #e84430;
}
.filters .events ul {
	display: flex;
	flex-flow: row wrap;
	overflow: auto;
}
.filters .events ul li {
	width: calc(50% - 0.5em);
	text-align: left;
	padding: 0.25em;
	display: flex;
	align-items: center;
	margin: 0.3em 0.25em;
	flex: 0 0 auto;
	border-radius: 0.25em;
	cursor: pointer;
	height: auto;
}
.player .filters .events li.selected,
.filters .events li.selected {
	background-color: rgba(255, 105, 25, 0.15);
	box-shadow: 0 0 0 1px #fd0d0d24;
}
.filters .events li.selected span {
	color: #fe4400;
}
.filters .events li span {
	font-size: 0.8em;
	text-align: left
}
.filters footer {
	flex: 0 0 auto;
	box-shadow: 0 0.1em #cddce2 inset;
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	height: 4em;
	margin: 0.3em 0 0 0;
	padding: 0 1em;
	justify-content: left;
}
.filters footer button.checkbox {
	padding: 0;
	margin: 0;
}
.filters .period .bar {
	background-color: #9cbbc4;
	height: 0.75em;
	margin: 3em 0 1em 0;
	flex: 1;
	width: 90%;
	position: relative;
}
.filters .tabcontent.period .bar button {
	position: absolute;
	background: transparent url('images/bracket-start.svg') no-repeat center / contain;
	height: 2em;
	width: 1.5em;
	top: -0.6em;
	margin-left: -0.8em;
	left: 0;
}
.filters .tabcontent.period .bar button.end {
	background-image: url('images/bracket-end.svg');
}
.filters .period .selected {
	background-color: #e84430;
	height: 0.75em;
	position: absolute;
	top: 0;
	margin-left: -0.025em;
	padding: 0.05em;
	box-shadow: 0.1em 0 #e84430, -0.3em 0 #e84430;
}

.selected.au-target {}
.filters .tabcontent.events {
	flex-flow: column nowrap;
}
.filters .period {
	flex-flow: column nowrap;
}
.filters .period .fields {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    justify-items: center;
    width: 100%;
    flex: 1 1 auto;
}
.filters .period .fields span {
	margin: 0 1em;
}
.filters .period .fields {
	width: 60%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	justify-items: center;
	padding: 2em 0;
}
.filters .period .bar span {
	width: 15em;
	position: absolute;
	top: 1.5em;
}
.filters .period .bar.invert .selected {
	background-color: #9cbbc4;
	box-shadow: 0.15em 0 #e84430 inset, -0.3em 0 #e84430 inset;
}
.filters .period .bar.invert {
	background-color: #e84430;
}


.chart.comparative section {
	background-color: #fff;
	margin: 0;
	position: relative;
	padding: 0em 1em 1em 1em;
}
.chart.comparative .detailed {
	grid-column: 1/2;
	grid-row: 3;
}
.chart.comparative.ranking .detailed {
	grid-column: 1/3;
	grid-row: 3/3;
	padding: 1em;
}
.chart.comparative.line .detailed {
    /* display: grid; */
}
.chart.comparative .average {
	grid-column: 2/4;
	grid-row: 2/4;
	min-width: 12em;
}
.chart.comparative .grid {
	display: grid;
	grid-template-columns: 3em calc(100% - 3em);
	grid-template-rows: 7fr 1fr;
	color: #97b2b9;
	font-size: 0.7em;
	height: 100%;
	width: 99%;
	grid-column: 1/1;
}
.chart.comparative .average .grid {
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 7fr 1fr;
	font-size: 0.85em;
}
.chart.comparative .grid .y-labels {
	display: grid;
	text-align: right;
	margin: 1em 0 -1em 0;
	padding: 0 0.5em 0 0;
	align-items: center;
	grid-column: 1;
	grid-row: 1;
	box-shadow: 1px 0 0 #b2c9cf;
}
.chart.comparative .grid .y-axis {
	display: grid;
	grid-column: 2;
	grid-row: 1;
	align-items: end;
	/* box-shadow: 0px -1px 0 #b2c9cf inset; */
}
.chart.comparative .average .grid .y-axis {
	grid-column: 1/3;
	grid-row: 2;
}
.chart.comparative .grid hr {
	border: 0;
	border-bottom: 1px dashed #b2c9cf;
	margin: 0;
}
.chart.comparative .grid .x-labels,
.chart.comparative .grid .columns {
    grid-column: 2;
    display: grid;
    margin: 0;
    text-align: center;
    align-items: center;
}
.chart.comparative .average .grid .x-labels {
    grid-column: 1/3;
    grid-row: 3;
    display: grid;
    margin: 0;
    text-align: center;
    grid-gap: 0.8em;
    align-items: center;
    padding: 0 1.2em;
}
.chart.comparative .grid .columns {
	grid-row: 1/1;
	grid-gap: 2em;
	padding: 2.75em 1em 0em 1em;
}
.chart.comparative .average .grid .columns {
	grid-column: 1/3;
	grid-row: 2/2;
	grid-gap: 1.5em;
	padding: 0 1.5em;
}
.chart.comparative .grid .c3chart {
	grid-row: 1;
	padding: 1em 2em;
	grid-column: 2/2;
	width: 100%;
}
.chart.comparative .grid>svg {
	grid-row: 1;
	grid-gap: 2em;
	padding: 2.75em 1em 0em 1em;
	grid-column: 2/2;
}
.chart.comparative .grid .columns + .columns li {
	justify-self: end;
}
.chart.comparative .grid .columns li {
	height: 100%;
	display: grid;
	align-items: end;
	grid-template-columns: 1fr;
	width: calc(50% - 0.5px);
}
.chart.comparative .average .grid .columns li {
	width: calc(100% - 0.5px);
}
.chart.comparative .grid .columns div {
	opacity: 0.9;
	z-index: 1;
	position: relative;
	cursor: pointer;
}
.chart.comparative .grid .columns div:hover {
	opacity: 1;
}
.chart.comparative .detailed .with-1 div {
	width: 200%;
}
.chart.comparative .with-2 div {
	width: 100%;
}
.chart.comparative .grid .columns span {
	position: absolute;
	padding: 1em 0;
	background-color: inherit;
	bottom: -3.8em;
	left: -1.5em;
	width: calc(100% + 3em);
	display: none;
	font-size: 1.3em;
	font-weight: bold;
	color: #fff;
}
.chart.comparative .grid .columns li span::before {
	content: "";
	width: 0.5em;
	height: 0.5em;
	background-color: inherit;
	top: -0.25em;
	position: absolute;
	transform: rotate(45deg);
	left: 50%;
	margin-left: -0.25em;
}
.chart.comparative .grid .columns li:hover span {
	display: block;
}
.chart.comparative .average h4 {
	grid-column: 1/3;
	grid-row: 1;
	text-align: center;
	text-transform: uppercase;
	font-weight: normal;
	margin: 2em 0 0 0;
}
.c3chart {
	max-height: 5em;
}
path.c3-shape.c3-shape.c3-line {
	stroke-width: 1.5px;
}
.rankings {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1em;
}
.chart.comparative .detailed small {
	display: block;
	text-align: right;
	color: #476b77;
	font-size: 0.75em;
}
.chart.daily {
	height: calc(100% - 8em);
}
.chart.daily ul {
	height: 100%;
	min-height: 3em;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	padding: 1em 2em;
}
.chart.daily li {
	flex: 0 1 auto;
	width: 5px;
	height: 100%;
	display: flex;
	align-items: flex-end;
	box-shadow: 0 -4px 0 0 #96969673 inset;
	cursor: help;
}
.chart.daily li:hover {
	opacity: 0.5;
}
.chart.daily li span {
	background-color: #434343;
	width: 5px;
}
.chart.daily li.today span {
	background-color: #e84005;
	width: 5px;
}
.chart.daily h3 {
	color: #5a8997;
	font-size: 2.3em;
	text-align: center;
	font-weight: normal;
	margin: 0.25em 0;
}