button.event,
.event .icon,
button.event .icon,
.event.icon {
	width: 2.75em;
	height: 2.75em;
	flex: 0 0 auto;
	margin: 0 0.5em 0 0;
	border-radius: 50%;
	display: flex;
	box-shadow: 0 0 0 0.25em #fff;
}

.event .icon::before,
.event.icon::before {
	content: "";
	background: transparent none no-repeat center/80%;
	width: 100%;
	height: 100%;
	filter: brightness(4);
}
button.event {
    width: 3em;
    height: 3em;
    padding: 0;
    border-radius: 50%;
    flex: 0 1 auto;
    margin: 0 auto 0 2em;
    display: block;
    flex-flow: row;
    background-image: none;
}
.event.passageironacabine .icon::before,
.passageironacabine.icon::before {
	background-image: url('images/passageironacabine.svg')
}
.event.obstrucaodafilmagem .icon::before,
.obstrucaodafilmagem.icon::before {
	background-image: url('images/obstrucaodafilmagem.svg')
}
.event.fumando .icon::before,
.fumando.icon::before {
	background-image: url('images/fumando.svg')
}
.event.bebendo .icon::before,
.bebendo.icon::before {
	background-image: url('images/bebendo.svg')
}
.event.semcinto .icon::before,
.semcinto.icon::before {
	background-image: url('images/semcinto.svg')
}
.event.celular .icon::before,
.celular.icon::before {
	background-image: url('images/celular.svg')
}
.event.contramao .icon::before,
.contramao.icon::before {
	background-image: url('images/contramao.svg')
}
.event.carona .icon::before,
.carona.icon::before {
	background-image: url('images/carona.svg')
}
.event.parada .icon::before,
.parada.icon::before {
	background-image: url('images/parada.svg')
}
.event.passouponto .icon::before,
.passouponto.icon::before {
	background-image: url('images/passouponto.svg')
}
.event.desarrumado .icon::before,
.desarrumado.icon::before {
	background-image: url('images/desarrumado.svg')
}
.event.deviation .icon::before,
.deviation.icon::before {
	background-image: url('images/deviation.svg')
}
.event.objetosnopainel .icon::before,
.objetosnopainel.icon::before {
	background-image: url('images/objetosnopainel.svg')
}
.event.embarqueproibido .icon::before,
.embarqueproibido.icon::before {
	background-image: url('images/embarqueproibido.svg')
}
.event.pararnapista .icon::before,
.pararnapista.icon::before {
	background-image: url('images/pararnapista.svg')
}
.event.dirigircomumamao .icon::before,
.dirigircomumamao.icon::before {
	background-image: url('images/dirigircomumamao.svg')
}
.event.sonolencia .icon::before,
.sonolencia.icon::before {
	background-image: url('images/sonolencia.svg')
}
.event.evasaopedagio .icon::before,
.evasaopedagio.icon::before {
	background-image: url('images/evasaopedagio.svg')
}
.event.portaaberta .icon::before,
.portaaberta.icon::before {
	background-image: url('images/portaaberta.svg')
}
.event.faixapedestre .icon::before,
.faixapedestre.icon::before {
	background-image: url('images/faixapedestre.svg')
}
.event.obstruircruzamentos .icon::before,
.obstruircruzamentos.icon::before {
	background-image: url('images/obstruircruzamentos.svg')
}
.event.manuseandoobjeto .icon::before,
.manuseandoobjeto.icon::before {
	background-image: url('images/manuseandoobjeto.svg')
}
.event.speed .icon::before,
.speed.icon::before {
	background-image: url('images/flash.svg')
}
.event.assalto .icon::before,
.assalto.icon::before {
	background-image: url('images/assalto.svg')
}
.event.gratuidade .icon::before,
.gratuidade.icon::before {
	background-image: url('images/gratuidade.svg')
}
.event.curve .icon::before,
.curve.icon::before {
	background-image: url('images/curve.svg')
}
.event.pulandocatraca .icon::before,
.pulandocatraca.icon::before {
	background-image: url('images/pulandocatraca.svg')
}
.event.verynear .icon::before,
.verynear.icon::before {
	background-image: url('images/distance.svg')
}
.event.colision .icon::before,
.colision.icon::before {
	background-image: url('images/colision.svg')
}
.event.crosstoleft .icon::before,
.crosstoleft.icon::before {
	background-image: url('images/band.svg')
}
.event.crosstoright .icon::before,
.crosstoright.icon::before {
	background-image: url('images/band.svg')
}
.event.shot .icon::before,
.shot.icon::before {
	background-image: url('images/rhythm.svg')
}
.event.break .icon::before,
.break.icon::before {
	background-image: url('images/rhythm.svg')
}
.event.dontstoped .icon::before,
.dontstoped.icon::before {
	background-image: url('images/redlight.svg')
}
.event.others .icon::before,
.others.icon::before {
	background-image: url('images/others.svg')
}

/* as cores deveriam vir da API. Estou colocando aqui para simular no player estático (sem JS) */

.event.passageironacabine,
hr.event.passageironacabine {
	background-color: #ab0ea3;
}
.event.obstrucaodafilmagem,
hr.event.obstrucaodafilmagem {
	background-color: #ad6e0c;
}
.event.fumando,
hr.event.fumando {
	background-color: #2bcff4;
}
.event.bebendo,
hr.event.bebendo {
	background-color: #fc0012;
}
.event.semcinto,
hr.event.semcinto {
	background-color: #fb822f;
}
.event.celular,
hr.event.celular {
	background-color: #f3f905;
}
.event.contramao,
hr.event.contramao {
	background-color: #0dcf87;
}
.event.carona,
hr.event.carona {
	background-color: #16aaee;
}
.event.parada,
hr.event.parada {
	background-color: #ad24f4;
}
.event.passouponto,
hr.event.passouponto {
	background-color: #14f5cf;
}
.event.desarrumado,
hr.event.desarrumado {
	background-color: #c60b83;
}
.event.deviation,
hr.event.deviation {
	background-color: #166fd7;
}
.event.objetosnopainel,
hr.event.objetosnopainel {
	background-color: #6f21c3;
}
.event.embarqueproibido,
hr.event.embarqueproibido {
	background-color: #ce46ee;
}
.event.pararnapista,
hr.event.pararnapista {
	background-color: #a7a9f1;
}
.event.dirigircomumamao,
hr.event.dirigircomumamao {
	background-color: #f978b4;
}
.event.sonolencia,
hr.event.sonolencia {
	background-color: #f55f3f;
}
.event.evasaopedagio,
hr.event.evasaopedagio {
	background-color: #a3d627;
}
.event.portaaberta,
hr.event.portaaberta {
	background-color: #fd02ce;
}
.event.faixapedestre,
hr.event.faixapedestre {
	background-color: #f13d72;
}
.event.obstruircruzamentos,
hr.event.obstruircruzamentos {
	background-color: #ef49ff;
}
.event.manuseandoobjeto,
hr.event.manuseandoobjeto {
	background-color: #b1ff03;
}
.event.speed,
hr.event.speed {
	background-color: #5675d6;
}
.event.assalto,
hr.event.assalto {
	background-color: #009319;
}
.event.gratuidade,
hr.event.gratuidade {
	background-color: #1cc508;
}
.event.curve,
hr.event.curve {
	background-color: #b4d961;
}
.event.pulandocatraca,
hr.event.pulandocatraca {
	background-color: #06987f;
}
.event.verynear,
hr.event.verynear {
	background-color: #ffcc00;
}
.event.colision,
hr.event.colision {
	background-color: #ffb300;
}
.event.crosstoleft,
hr.event.crosstoleft {
	background-color: #64d4e0;
}
.event.crosstoright,
hr.event.crosstoright {
	background-color: #e885a2;
}
.event.shot,
hr.event.shot {
	background-color: #66d1a2;
}
.event.break,
hr.event.break {
	background-color: #c172dc;
}
.event.dontstoped,
hr.event.dontstoped {
	background-color: #ff3b3b;
}
.event.others,
hr.event.others {
	background-color: #888888;
}
