help-menu {
    order: 10;
    margin: 0 calc(var(--size) * 1.5);
}
help-menu .cap>button {
    border-radius: var(--border-radius-circle);
    background: var(--color-bg-body) url('../images/help.svg') no-repeat center / contain;
    transform: scale(0.45);
}
help-menu .cap>button::before {
    transform: scale(1.55);
}
help-menu .cap>button span {
    display: none;
}
help-menu.menu .curtain {
    right: calc(var(--size-half) * -2);
    left: unset;
}
help-menu .curtain li:first-child a:before {
    right: var(--size);
    left: unset;
}
help-menu .curtain ul span {
    white-space: nowrap;
}