.menu {
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.menu .cap {
    display: flex;
    flex-flow: row;
}
.menu .cap>button {
    width: var(--header-height);
    height: var(--header-height);
    background-repeat: no-repeat;
    background-position: center;
}
.menu .cap>button:focus,
.menu .cap>button:hover {
    background-color: var(--color-bg-body);
}
.menu .cap>button::before {
    content: "";
    position: absolute;
    width: var(--size);
    height: 100%;
    background: url('../images/spin.svg') no-repeat center;
    right: calc(var(--size) * -2);
    top: 0;
    opacity: 0.4;
}
.menu.visible .cap>button::before {
    opacity: 1;
}
.menu.visible .cap>button {
    background-image: url('../images/close.svg');
}
.menu .curtain {
    position: absolute;
    top: 100%;
    left: var(--size);
    display: none;
    animation: show 0.15s ease-out reverse;
}
.menu ul {
    padding: 0;
    margin: 0;
    position: relative;
    background-color: var(--color-bg-header);
    filter: var(--shadow-menu);
    border-radius: var(--border-radius-default);
    min-width: fit-content;
}
.menu.visible .curtain {
    animation: show 0.15s ease-out;
    display: block;
}
.menu li {
    display: flex;
    flex-flow: column;
    position: relative;
    height: calc(var(--size) * 3);
}
.menu li:first-child a:before {
    content: "";
    position: absolute;
    width: var(--size-half);
    height: var(--size-half);
    top: calc(var(--size) * -0.25);
    transform: rotate(45deg);
    background: inherit;
    left: var(--size-half);
    z-index: -1;
}
.menu li a {
    padding: calc(var(--size) * 0.5) calc(var(--size) * 1);
    display: flex;
    align-items: center;
    background-color: var(--color-bg-header);
    height: 100%;
}
.menu li a:hover {
    background-color: var(--color-bg-body);
}
.menu li.selected a,
.menu li.selected a:hover {
    background-color: var(--color-bg-emphasis);
    color: var(--color-text-emphasis);
    cursor: default;
}
.menu li.selected .icon {
    filter: brightness(10);
}

.menu li span {
    margin-right: var(--size);
}
.menu li .icon {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: calc(var(--size) * 2);
    height: calc(var(--size) * 2);
}
.menu li span:last-child {
    min-width: calc(var(--size) * 6)
}