
main.player {
    height: 100%;
    overflow: auto;
    padding: 1.75em 1.75em 0.5em 1.75em;
}
.player .timeline {
    display: flex;
    flex-flow: column nowrap;
    height: 5.5em;
}
.timeline hr,
.player .tools button {
    background-color: rgba(166, 190, 199, 0.4);
}
.timeline hr {
    height: 1.25em;
    border: none;
    margin: 0;
    position: absolute;
    width: 100%;
}
.player .timeline .overview {
    position: relative;
    height: 2em;
}
.player hr.entire {
    height: 0.25em;
    position: absolute;
    width: 100%;
    top: 0.375em;
}
.player hr.selected {
    box-shadow: 0 0 0 2px #fff;
}
.player .timeline .time,
.player .timeline .duration {
    display: flex;
    justify-content: space-between;
    font-size: 0.65em;
    position: absolute;
    width: 100%;
    top: 1.5em;
    cursor: default;
    user-select: initial;
    color: #4e92a8;
}
.player .timeline .time {
    top: -1.35em;
}
.player .timeline .rail {
    width: 90%;
    position: relative;
}
.player .timeline .miniclip {
    position: absolute;
    width: 11%;
    top: 0;
}
.player .timeline .miniclip hr {
    height: 1em;
    background-color: #9cbbc4;
    cursor: move;
}
.player .timeline .overview .events {
    position: absolute;
    width: 100%;
    top: 0.3em;
    z-index: 1;
}
.player .timeline .events span {
    position: absolute;
    width: 0.4em;
    height: 0.4em;
    background-color: #fe713e;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #fff;
}
.player .timeline .events .revised {
    background-color: #434343
}
.player .timeline .clipping {
    position: relative;
    margin: 0.7em 0 0 0;
    height: 1.25em;
}
.player .timeline .display {
    position: absolute;
    top: -2em;
    transform: translateX(-50%);
    width: 5em;
    background-color: #131313;
    padding: 0.35em 0.5em;
    font-size: 0.65em;
    text-align: center;
    font-weight: bold;
    color: #fff;
    line-height: 1;
}
.player .timeline input {
    margin: 0 -1.6em;
    padding: 0;
    width: calc(100% + 3.2em );
    position: absolute;
    top: 0;
    height 1.25em;
    z-index: 1
}
.player .timeline input[type=range]::-webkit-slider-thumb {
    width: 3.25em;
    height: 3em;
    cursor: move;
    margin-top: -1.45em;
    background: transparent url('images/slider-thumb.svg') no-repeat center 1em;
}
.player .timeline input[type=range]::-webkit-slider-runnable-track {
    background-color: transparent;
    height: 1.25em
}
.player .timeline input[type=range]:focus::-webkit-slider-runnable-track {
    background-color: transparent;
}

/* overview -> */
.player .overview input {
    margin: 0 0em;
    padding: 0;
    width: calc(100% + 0em );
    position: absolute;
    top: 0;
    height 1.25em;
    z-index: 1;
}
.player .overview input[type=range]::-webkit-slider-thumb {
    width: 10%;
    height: 1em;
    cursor: move;
    margin-top: 0;
    background: transparent;
    margin-left: 0em;
}
.player .overview input[type=range]::-webkit-slider-runnable-track {
    background-color: transparent;
    height: 1.25em
}
.player .overview input[type=range]:focus::-webkit-slider-runnable-track {
    background-color: transparent;
}

/* overview <- */
.player .timeline .cursor {
    width: 2px;
    height: 1.5em;
    background-color: #000000b0;
    position: absolute;
    top: -0.2em;
}
.player .views {
    display: grid;
    grid-template-columns: minmax(13em, 17%) auto minmax(13em, 17%);
    grid-template-rows: calc(100% - 2.5em) 2.5em;
    grid-column-gap: 1em;
    height: calc(100% - 11em);
    margin: 0;
}
.player aside {
    background-color: #f7fafb;
    box-shadow: 0 0 0 1px #cadae0;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
}
.player aside header {
    box-shadow: 0 0 0 1px #cadae0;
    height: 2em;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 0.82em;
    flex: 0 0 auto;
}
.player aside .status output {
    color: #131313;
}
.player aside .status span {
    margin: 0 0.25em;
}
.player aside .status span + output {
    color: #fe4400;
}
.player aside .progress {
    background-color: #fe4400;
    width: calc(100% - 6em);
    height: 0.65em;
    margin-left: 1em;
}
.player aside .progress span {
    background-color: #434343;
    width: 30%;
    height: 100%;
    display: block;
    box-shadow: 1px 0 0 0 #fff;
}
.player aside .time,
.player aside .velocity {
    box-shadow: 1px 0 0 0 #cadae0;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.player aside ul {
    padding: 0em 0.35em;
    overflow: auto;
    height: calc(100% - 2.4em);
    margin: 0;
}
.player aside li {
    display: flex;
    align-items: center;
    padding: 1em 0;
    position: relative;
    z-index: 0;
}
.player aside li.selected {
    background-color: rgba(232, 85, 5, 0.05);
    color: #e84005;
    font-weight: normal;
    margin: 0 -0.31em;
    padding: 1em 0.31em;
}
.player aside li::before {
    content: "";
    position: absolute;
    background-color: #cadae0b8;
    width: 2px;
    height: 100%;
    left: 2.1em;
    top: 0;
    z-index: -1
}
.player aside li.selected::before {
    left: 2.4em;
}
.player aside li:first-child::before {
    top: 50%;
    height: 50%;
}
.player aside li:last-child::before {
    height: 50%;
}
.player div.levels {
    font-size: 0.3em;
    box-shadow: none;
    align-items: flex-end;
    height: 4em;
}
.player ul div.levels {
    margin: 0 0 0.5em 0;
}
.player aside i {
    background: transparent url('images/eye.svg') no-repeat center/contain;
    width: 1em;
    height: 1em;
    flex: 0 0 auto;
    filter: brightness(1.2);
}
.player aside i.visualized {
    filter: brightness(0.5);
}
.player aside .event {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    flex: 0 0 auto;
    margin: 0 0.5em 0 0.25em;
}
.player aside .info {
    font-size: 0.7em;
    flex: 1;
    display: block;
}
.player aside .info .time {
    box-shadow: none;
    color: #306f84;
    width: 2.75em;
    justify-content: left;
}
.player .statuses {
    display: flex;
    align-items: flex-end;
    box-shadow: 0 1px 0 0 #cadae0;
    justify-content: space-between;
    padding-bottom: 0.25em;
}
.player .selected .statuses {
    box-shadow: 0 1px 0 0 #e2ada4;
}
.player .selected .info .time {
    color: #e94430;
}
.player .statuses .seriousness span {
    width: 3px;
    margin: 0 1px 0 0;
}
.player .controls {
    grid-column: 1/4;
    justify-content: center;
    align-items: center;
    display: flex;
}
.false-positive {
    background: transparent url('images/flag-gray.svg') no-repeat center/cover;
    width: 1.7em;
    height: 2em;
    margin: -0.4em 0 -0.2em 0;
}
.false-positive.active {
    background-image: url('images/flag-orange.svg');
}
.documentation .info .false-positive {
    background-image: url('images/flag-white.svg');    
}
.actions button {
    background-color: rgba(34, 131, 161, 0.6);
    background-size: contain;
    color: #2283a1;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    flex: 0 0 auto;
    padding: 0;
    margin: -1em 0 0 calc(1% + 1.5em);
    font-weight: normal;
}
.player>footer button.active {
    background-color: #fe4400;
    background-size: contain;
    color: #fe4400;
}

.player>footer .actions button span {
    font-size: 0.7em;
    transform: translateY(3.3em);
    position: relative;
    display: block;
    width: 150%;
    margin: 0 -25%;
}
.player>footer button.false-positive {
    background-image: url('images/flag-white.svg');
}
.player>footer button.explainable {
    background-image: url('images/explainable-white.svg');
}
.player>footer button.obs {
    background-image: url('images/obs-white.svg');
}
.player>footer button.invalid {
    background-image: url('images/invalid-white.svg');
}
.player>footer button.valid {
    background-image: url('images/valid-white.svg');
}
.player>footer button.doc {
    background-image: url('images/doc-white.svg');
}
.explainable {
    background: transparent url('images/explainable-gray.svg') no-repeat center/cover;
    width: 2em;
    height: 2.2em;
    margin: -0.4em 0 -0.3em 0;
}
.explainable.active {
    background-image: url('images/explainable-orange.svg');
}
.documentation .info .explainable {
    background-image: url('images/explainable-white.svg');
}
.doc {
    background: transparent url('images/doc-gray.svg') no-repeat center/cover;
    width: 2em;
    height: 2.2em;
    margin: -0.4em 0 -0.3em 0;    
}
.doc.active {
    background-image: url('images/doc-orange.svg');
}
.info button {
    width: 3em;
    height: 3em;
    flex: 0 0 3em;
    padding: 0;
    background-color: rgba(43, 69, 86, 0.43);
    border-radius: 50%;
    margin: 0 0 0 0.75em;
    opacity: 0.5;
    transition: 0.2s all;
}

.info button.active {
    background-color: #d83d0d;
    opacity: 1;
    transition: 0.2s all;
}
.info .doc {
    background-image: url('images/doc-white.svg');
}
.obs {
    background: transparent url('images/obs-gray.svg') no-repeat center/cover;
    width: 2em;
    height: 2.2em;
    margin: -0.4em 0 -0.3em 0;
}
.obs.active {
    background-image: url('images/obs-orange.svg');
}
.documentation .info .obs {
    background-image: url('images/obs-white.svg');
}
.event-name {
    padding-top: 0.5em;
}
.player aside footer {
    padding: 0.5em;
    height: 2.8em;
    box-shadow: 0 1px 0 0 #cadae0 inset;
    margin: 0;
    flex: 0 0 auto;
}
.player aside footer button {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: transparent;
    font-weight: normal;
    color: #527b89;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
}
.player aside footer button::before {
    content: "";
    width: 1.8em;
    height: 1.8em;
    margin: 0 0.7em 0 0;
    background: #527b89 url('images/tick.svg') no-repeat center/65%;
}
.player aside footer button span {
    font-size: 0.8em;
    text-align: left;
}
.player aside .empty {
    font-size: 0.8em;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 2em;
    color: #75a0ad;
}
.players {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    grid-gap: 0.5em;
}
video {
    background-color: rgba(70, 117, 130, 0.15);
    width: 100%;
    height: calc(50% - 0.25em);
    cursor: pointer;
    transition: 0.25s all;
}
video.active {
    grid-column: 1/3;
    grid-row: 1/3;
    height: 100%;
    transition: 0.5s all;
}
.player div.map {
    background: transparent url('../fake_data/mapa.png') center/cover;
    height: 100%;
    box-shadow: 0 0 0 1px #cadae0;
    position: relative;
}
.googlemaps {
    padding: 0;
    background: #fff url('images/bot_gmaps.png') no-repeat center/contain;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    box-shadow: 0 1px 3px -1px #000;
    position: absolute;
    bottom: 0.5em;
    right: 0.5em;
}
.map .gps {
    background: transparent url('images/gps-yes.svg') no-repeat center/contain;
    width: 2em;
    height: 2em;
    position: absolute;
    right: 0.5em;
    top: 0.5em;
}
.map .gps.off {
    background-image: url('images/gps-no.svg');
}
.map .marker {
    background: transparent url('images/marker.png') no-repeat center/contain;
    width: 3em;
    height: 3em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}
.player .controls {
    position: relative;
}
.player .controls button {
    height: 1.5em;
    padding: 0;
    margin: 0 0.5em;
    width: 2em;
    background: transparent url('images/control-play.svg') no-repeat center/1em 1em;
}
@keyframes pulse { 
    0% { opacity: 1 } 
    50% { opacity: 0.2 }
    100% { opacity: 1 }
}
.player .controls .paused {
    background-image: url('images/control-pause.svg');
    animation: pulse 1s infinite;
}
.player .controls .backward {
    background-image: url('images/control-backward.svg')
}
.player .controls .forward {
    background-image: url('images/control-forward.svg')
}
.player .controls .back {
    background-image: url('images/control-back.svg')
}
.player .controls .next {
    background-image: url('images/control-next.svg')
}
.player .controls .speed {
    background: none;
    color: #6e97a3;
    font-size: 1.35em;
    display: flex;
    align-items: center;
}
.player .controls .speed::after {
    content: "";
    background: transparent url(images/arrow-option.svg) center no-repeat;
    width: 1em;
    height: 1em;
    display: inline-block;
    margin: 0.1em 0 0 0.25em;
    flex: 0 0 auto;
}
.player .controls ul {
    background-color: #fff;
    position: absolute;
    bottom: 85%;
    right: 50%;
    padding: 0.3em;
    transform: translateX(208%);
    filter: drop-shadow(0 2px 3px rgba(0,0,0,0.2));
    top: auto;
}

ul.menu.speeds.au-target {}
.player .controls ul::before {
    content: "";
    width: .75em;
    height: .75em;
    position: absolute;
    bottom: -0.25em;
    background-color: inherit;
    right: 2em;
    transform: rotate(45deg);
    z-index: 1;
    top: auto;
}
.player .controls li {
    padding: 0.5em 1em;
    text-align: center;
    cursor: pointer;
    z-index: 1;
    position: relative;
}
.player .controls li:hover {
    background-color: rgba(175, 200, 208, 0.2);
}
.player .controls li.selected {
    background-color: #e94430;
    cursor: default;
}
.player>footer {
    height: 6em;
    background-color: rgba(188, 207, 215, 0.3);
    margin: 0em -1.7em -1.7em -1.7em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.player>footer .event {
    width: 4em;
    height: 4em;
    padding: 0;
    border-radius: 50%;
    flex: 0 1 auto;
    margin: 0 auto 0 2em;
    display: block;
    flex-flow: row;
    background-image: none;
}
.player>footer .seriousness {
    font-size: 2em;
    margin: 0 0.4em;
    align-items: center;
    display: flex;
}
.player>footer p {
    display: flex;
    flex-flow: column wrap;
    margin: 0 auto 0 0;
    flex: 1 0 0%;
}
.player>footer .add {
    justify-self: flex-start;
    margin: 0 auto 0 2em;
}
.player>footer .points {
    justify-self: flex-end;
}
.points:hover .trip-popup {
    display: block;
    transform: translate(-3.3em, -0.5em);
    font-size: 0.85em;
}
.player>footer h4 {
    font-size: 0.8em;
    font-weight: normal;
    width: 9em;
    position: relative;
    padding: 0 3em 0 0;
}
.player>footer h4::before {
    content: "";
    width: 2em;
    height: 2em;
    background-color: transparent;
    position: absolute;
    transform: rotate(45deg) translateY(-75%);
    box-shadow: 1px -1px 0 0 rgba(101, 128, 138, 0.6);
    left: 4.75em;
    top: 50%;
}
.player>footer .info {
    margin: 0 auto 0 0;
}
.player + footer {
    display: none;
}
.player .playertools {
    position: absolute;
    top: 0;
    left: 50%;
    display: flex;
    flex-flow: row nowrap;
    transform: translateX(-50%);
    margin: 0;
    height: 3.5em;
    align-items: center;
}
.player .playertools .players {
    display: flex;
    flex-flow: row nowrap;
}
.player .playertools .players button {
    margin: 0 0.2em;
    width: 1.9em;
    height: 1.9em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 0;
    font-size: 0.8em;
}
.player .playertools .players button::before {
    content: none;
}
.player .playertools .players button.active {
    background-color: #e94430;
}
.player .playertools .players .active:hover {
    background-color: #f2b5a9
}
.player .playertools .players button:hover {
    background-color: #719fab
}
.player .playertools .filters{
    font-size: 0.85em;
    transform: translate(7.2em, 0.5em);
}
.player .events li.event {
    background-color: transparent;
}
.player>footer button.add {
	background: #fe4400 url('images/plus.svg') no-repeat center/40%;
}
.events-available {
   background-color: #fff;
   position: absolute;
   filter: drop-shadow(0 0 0.5em rgba(0, 0, 0, 0.5));
   bottom: 96%;
   left: 2em;
   z-index: 1;
   padding: 0.5em;
   display: none;
}
.events-available.show {
    display: block;
}
.events-available>div {
   overflow: auto;
   max-width: 48em;
   max-height: 28em;
   display: flex;
   flex-flow: row wrap;
   align-items: flex-start;
   padding: 0.5em;
}
.player .events-available button.event {
    background-color: transparent;
    width: 6em;
    height: auto;
    background-color: transparent;
    flex-flow: column;
    align-items: center;
    margin: 0.25em;
    justify-content: center;
    display: flex;
    flex-flow: row wrap;
    border-radius: 0.2em;
    padding: 0.5em 0 1em 0;
}
.player .events-available button.event.selected {
    background-color: #fdece6;
}
.player .events-available button.selected span {
    color: #d83f2c;
}
.player .events-available button span {
    font-size: 0.7em;
    transform: translateY(0.5em);
    position: relative;
    display: block;
    width: 150%;
    margin: 0;
    color: #476b77;
}
.events-available .event .icon {
    margin: 0;
    font-size: 1.25em;
    position: static;
}
.events-available::before {
    content: "";
    width: 1em;
    height: 1em;
    position: absolute;
    bottom: -0.3em;
    left: 1.5em;
    background: inherit;
    transform: rotate(45deg);
}
.player>footer>.event .icon {
    width: 100%;
    height: 100%;
}
.player>footer.edit-mode .event {
    margin: 0 2em;
}
.player>footer .seriousness span {
    width: 1.3em;
    cursor: pointer;
    transition: 0.12s all;
    margin: 0 2px;
}
.player>footer .seriousness span:hover {
    opacity: 0.7;
}
.player>footer .edit {
    display: flex;
    margin: 0;
    flex: 1;
    padding: 0;
    align-items: center;
}
.player>footer .edit .duration {
    width: 6em;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    flex: 0 0 auto;
    justify-content: space-between;
}
.player>footer output {
    width: 50%;
    flex: 0 0 auto;
    font-size: 0.8em;
}
.player>footer output + output {
    text-align: right;
}
.player>footer .duration .icon {
    width: 100%;
    height: 0.125em;
    background-color: #81a2ac;
    margin: 0.5em 0.7em 0.25em 0.7em;
    position: relative;
}
.player>footer .duration .icon::before,
.player>footer .duration .icon::after {
    content: "";
    background-color: #81a2ac;
    position: absolute;
    height: 0.75em;
    width: 0.75em;
    border-radius: 50%;
    top: -0.3em;
}
.player>footer .duration .icon::before {
    left: 0;
}
.player>footer .duration .icon::after {
    right: 0;
}
.player>footer .duration b {
    width: 100%;
    flex: 0 0 auto;
    text-align: center;
    color: #81a2ac;
    font-size: 1.2em;
}
.player>footer textarea {
    height: 4.25em;
    margin: 0 1em;
    min-height: 0;
    resize: none;
    flex: 0 1 auto;
}
.player footer.manager {
    padding: 0 1em;
}
.player>footer .actions {
    display: flex;
    flex-flow: row nowrap;
    flex: 0 0 auto;
    min-width: 15em;
    flex: 1;
    justify-content: flex-end;
}
.player>footer .cancel {
    flex: 0 0 auto;
}
.player>footer button[type="submit"] {
    height: 4em;
    margin: 0 2em 0 0;
    font-size: 0.9em;
}
.player>footer .cancel {
    height: 4em;
    font-size: 0.9em;
}