.modal {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(214, 214, 214, 0.78);
	z-index: 10;
	display: flex;
	align-items: center;
	justify-content: center;
}
.popup {
	background-color: #fff;
	box-shadow: 0 0 5em rgba(0,0,0,0.1), 0 0 0 0.25em #537e8b;
	padding: 2em 3em;
	position: relative;
}
.popup .buttons button {
	background-color: #fe4400;
	margin: 1em 1em 0.5em 1em;
	min-width: 7em;
}
.popup .close {
	content: "";
	background: transparent url(images/close.svg) no-repeat center/75% content-box;
	width: 1.2em;
	height: 1.2em;
	margin: 0 -0.5em 0 1.25em;
	filter: brightness(2.5);
	padding: 0;
	position: absolute;
	right: 2em;
	top: 1.5em;
}
.popup h4 {
	text-align: center;
	font-size: 1.1em;
}
.popup header {
	background-color: #4f7785;
	margin: -2em -3em 1em -3em;
	padding: 0 3em;
	display: flex;
	align-items: center;
	height: 4.25em;
}
.popup header h2 {
	margin: 0;
	font-size: 1.2em;
	color: #fff;
	font-weight: 500;
}
.popup header .close {
	filter: brightness(4);
}
.popup header::before {
	content: "";
	height: 2.3em;
	width: 2.3em;
	background: transparent none no-repeat center / contain;
	margin: 0 1em 0 -2em;
	filter: brightness(4);
}
.setdriver .popup header::before {
	background-image: url('images/driver.svg');
}
.documentation .popup header::before {
	background-image: url('images/doc.svg');
}
.popup .info {
	background-color: rgba(211, 225, 230, 0.5);
	margin: -1em -3em 1em -3em;
	padding: 0.6em 3em;
}
.info {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.info table {
	font-size: 0.8em;
	text-align: center;
}
.info th {
	color: #618793;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 0.85em;
	padding: 0 1em;
}
.info td {
	color: #131313;
	padding: 0 1em;
	font-weight: 500;
}
.info .points {
	display: flex;
	flex-flow: column nowrap;
	box-shadow: 0 0 0 1px rgba(106, 148, 162, 0.5);
	border-radius: 50%;
	width: 3.7em;
	height: 3.7em;
	align-items: center;
	justify-content: center;
	margin: 0 0 0 2em;
	cursor: default;
	position: relative;
}
.info .points span {
	text-transform: uppercase;
	font-size: 0.7em;
}
.info .points b {
	text-transform: uppercase;
	font-size: 1.2em;
	line-height: 1;
}
.popup .search {
	display: flex;
	justify-content: center;
	margin: 1.5em 0;
}
.popup .search input {
	width: 60%;
	min-width: 24em;
}
.popup .group {
	display: grid;
	grid-gap: 0 0.25em;
	grid-template: 1fr 1fr / 1fr auto;
	margin: 0 1.5em 0 0;
}
.popup .group>*:first-child {
	grid-column: 1;
	grid-row: 1/3;
	align-self: center;
	margin: 0;
}
.popup .group button.event {
	margin: 0 0.5em 0 0;
	flex: 0 1 auto;
	width: 3em;
}
.popup .info label {
	align-self: end;
	font-size: 0.8em;
	line-height: 1.5;
	width: auto;
	margin: 0;
}
.popup .group label {
	grid-column: 2;
	margin: 0;
}
.popup .group b {
	grid-column: 2;
}
.popup .start,
.popup .end {
	display: grid;
	grid-gap: 0.25em;
	margin: 0 1.75em 0 0;
}
.info .group div.levels {
	box-shadow: none;
	width: 4em;
	height: 4em;
	font-size: 0.82em;
}

.info .event .icon {
    width: 100%;
    height: 100%;
}
.documentation form {
	grid-template-columns: 1fr;
}
.documentation video {
	height: 4em;
}
.documentation textarea {
	min-height: 2.5em;
	resize: vertical;
	max-height: 18em;
}
.documentation form footer {
	grid-column: auto;
}
.documentation .media {
	display: flex;
	flex-flow: column nowrap;
}
.documentation .media .items {
	display: flex;
	flex-flow: row wrap;
	align-items: start;
	flex: 1;
	width: 100%;
}
.documentation .media .items div {
	width: auto;
	margin: 0.5em 0.5em 0 0;
	height: 4em;
	background-color: rgba(162, 188, 212, 0.3);
	position: relative;
}
.documentation .media .items div video,
.documentation .media .items div img {
	width: auto;
	min-width: 5em;
	height: 100%;
	background-color: rgba(162, 188, 212, 0.3);
}
.documentation .media .items .add {
	width: 6.5em;
	height: 4em;
	margin: 0.5em 0.5em 0 0;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	background-color: rgba(162, 188, 212, 0.3);
}
.media .item .remove {
	position: absolute;
	width: 1.3em;
	height: 1.3em;
	right: 0.25em;
	top: 0.25em;
	padding: 0;
	border-radius: 50%;
	background-color: rgba(254, 68, 0, 0.75);
	align-items: stretch;
}
.media .item .remove::before {
	content: "";
	width: 100%;
	height: 100%;
	background: transparent url(images/close.svg) no-repeat center/50%;
	border-radius: 50%;
	display: block;
	filter: brightness(4);
}
.documentation .media button.add::before {
	content: "";
	width: 2em;
	height: 2em;
	background: rgba(34, 131, 161, 0.6) url('images/plus.svg') no-repeat center;
	border-radius: 50%;
}
.documentation button.remove {
	max-width: 10em;
}
.documentation button.remove span {
	font-size: 0.9
}
.package:disabled,
.package {
	background-color: transparent;
	color: #476b77;
	font-weight: normal;
	width: 9em;
	text-align: left;
	padding: 0;
	display: flex;
	align-items: center;
}
.package::before {
	content: "";
	width: 3em;
	height: 3em;
	background: rgba(34, 131, 161, 150) url('images/package.svg') no-repeat center/contain;
	border-radius: 50%;
	flex: 0 0 auto;
	margin: 0 0.5em 0 0;
}
.package:disabled::before {
	background-color: #d5dbdd;
}
.package span {
	font-size: 0.75em;
	line-height: 1.2;
}
.documentation .package {
	position: absolute;
	bottom: 2.2em;
}