*, *::before, *::after {
    box-sizing: border-box;
  }
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto;
    font-family: Ubuntu;
    font-size: var(--text-size); 
    background-color: var(--color-bg-body);
	font: 16px Lato, Ubuntu, Arial, Helvetica, sans-serif;
	color: #434343;
	background-color: #eef2f5;
}

.app {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    height: 100%;
}
header {
    background-color: #fbfbfb;
    display: flex;
    flex-direction: var(--menu-direction);
    height: var(--header-height);
    justify-content: start;
    align-items: stretch;
}
main {
    margin-bottom: auto;
    display: flex;
    padding: var(--size);
    flex-direction: column;
}
footer {
    background-color: var(--color-bg-header);
    padding: var(--size);
    display: flex;
    align-items: center;
    justify-content: center;
}
header ul,
footer ul,
aside ul
{
    list-style: none;
    padding: 0;
    /* margin: 0; */
}
aside {
    margin: 1em
}
header .logo {
    display: flex;
    margin: 0 auto 0 0;
    width: calc(var(--size) * 16);
    order: 1;
}
header .logo img {
    width: 100%;
}
main>section {
    margin: 1em
}
nav-menu,
nav {
    display: flex;
    align-content: stretch;
    order: 0;
    position: relative;
}
/*
.menu {
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.menu>button {
    width: var(--header-height);
    height: var(--header-height);
    background-repeat: no-repeat;
    background-position: center;
}
.menu>button:focus,
.menu>button:hover {
    background-color: var(--color-bg-body);
}
.menu>button::before {
    content: "";
    position: absolute;
    width: var(--size);
    height: 100%;
    background: url('../images/spin.svg') no-repeat center;
    right: calc(var(--size) * -2);
    top: 0;
    opacity: 0.4;
}
.menu.visible>button::before {
    opacity: 1;
}
.menu.visible>button {
    background-image: url('../images/close.svg');
}
.menu ul {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    left: var(--size);
    background-color: var(--color-bg-header);
    filter: var(--shadow-menu);
    border-radius: var(--border-radius-default);
    display: none;
    min-width: fit-content;
    animation: show 0.2s ease-out reverse;
}
.menu.visible ul {
    animation: show 0.2s ease-out;
    display: block;
}
.menu li {
    display: flex;
    flex-flow: column;
    position: relative;
    height: calc(var(--size) * 3);
}
.menu li:first-child a:before {
    content: "";
    position: absolute;
    width: var(--size-half);
    height: var(--size-half);
    top: calc(var(--size) * -0.25);
    transform: rotate(45deg);
    background: inherit;
    left: var(--size-half);
    z-index: -1;
}
.menu li a {
    padding: calc(var(--size) * 0.5) calc(var(--size) * 1);
    display: flex;
    align-items: center;
    background-color: var(--color-bg-header);
    height: 100%;
}
.menu li a:hover {
    background-color: var(--color-bg-body);
}
.menu li span {
    margin-right: var(--size);
}
.menu li .icon {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: calc(var(--size) * 2);
    height: calc(var(--size) * 2);
}
.menu li span:last-child {
    min-width: calc(var(--size) * 6)
}
*/

/*
header .user {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 1em 0 0;
    order: 2;
}
header .user>button {
    width: 2em;
    height: 2em;
    border-radius: var(--border-radius-circle);
    border: var(--border-style);
    padding: 0;
    overflow: hidden
}
header .user>button img {
    height: 100%;
    width: 100%;
}
header .user ul {
    position: absolute;
    top: 4em;
    right: 0em;
    background-color: white;
    padding: 1em;
    border-radius: var(--border-radius-rounded);
    border: var(--border-style);
}
*/


/* visual styles */
a {
    text-decoration: none;
    color: var(--color-text);
}
:focus {
    /* outline: none; */
}
button {
    cursor: pointer;
    padding: 0;
    border: none;
    font: inherit;
}

.companies .icon {
    background-image: url("../images/icons/company.svg");
}
.users .icon {
    background-image: url("../images/icons/user.svg");
}
.cameras .icon {
    background-image: url("../images/icons/camera.svg");
}
.events .icon {
    background-image: url('../images/icons/events.svg');
}