tab-group {
    display: flex;
    box-shadow: 0 -4px var(--color-bg-inner) inset;
    height: calc(var(--size) * 2.5);
    width: 100%;
    text-transform: uppercase;
    margin-bottom: var(--size);
}
tab-group ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    font-size: 0.85em;;
}
tab-group li {
    height: 100%;
    display: flex;
}
tab-group a {
    padding: 0 var(--size-half);
    color: var(--color-text-lignt);
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}
tab-group a:hover {
    background-color: var(--color-text-emphasis);
    box-shadow: 0 -4px var(--color-bg-inner) inset;
}
tab-group li.selected a:hover {
    background-color: transparent;
    transition: .2s all;
}
tab-group .selected a {
    box-shadow:  0 -4px var(--color-bg-emphasis) inset;
    color: var(--color-bg-emphasis);
}