table-data {
    display: flex;
    width: 100%;
    padding: var(--size);
    background-color: var(--color-bg-inner);
    border-radius: var(--border-radius-default);
    flex-direction: column;
}
table-data table {
    width: 100%;
    border-collapse: collapse;
    /* table-layout: fixed; */
}
table-data .tools {
    display: flex;
    margin-bottom: var(--size-half);
}
table-data .tools .add {
    background: transparent url("../images/plus.svg") no-repeat center / contain;
    position: relative;
    width: var(--size-double);
    height: var(--size-double);
}
table-data .tools .add span {
    position: absolute;
    right: 100%;
    top: 0;
    white-space: nowrap;
    height: inherit;
    display: flex;
    align-items: center;
    padding-right: var(--size-half);
    color: var(--color-text);
    font-size: 0.8em;
}
table-data .tools ul {
    list-style: none;
    padding: 0;
    margin: 0 auto 0 0;
    display: flex;
    align-items: center;
    font-size: 0.8em;
    width: fit-content;
    text-transform: uppercase;
}
table-data .tools li {
    height: 100%;
    display: flex;
    margin-right: var(--size-quarter);
}
table-data .tools li a {
    padding: var(--size-half) var(--size);
    color: var(--color-text-lignt);
    background-color: var(--color-bg-light);
    height: 100%;
    display: flex;
    align-items: center;
}
table-data .tools li a:hover {
    background-color: var(--color-text-emphasis);
    transition: .2s all;
}
table-data .tools .selected a {
    color: var(--color-text);
    background-color: var(--color-text-emphasis);
    border-radius: var(--border-radius-default);
    font-weight: bold;
}
table-data .tools li.selected a:hover {
    transition: .2s all;
}
table-data thead {
    font-size: 0.85em;;
}
table-data thead th {
    background-color: var(--color-text-lignt);
    color: var(--color-text-emphasis);
    padding: var(--size-quarter);
}
table-data tr {
    background-color: #EFF5F7;
}
table-data tr:nth-child(even) {
    background-color: rgb(239, 245, 247, 0.7);
}
table-data tr:hover {
    background-color: #FFF5E9;
}
table-data td {
    height: calc(var(--size) * 3.5);
    padding: var(--size-quarter) var(--size);
    background: transparent none no-repeat center padding-box;
    position: relative;
    max-width: calc(var(--size) * 12);
}
table-data td:first-child,
table-data th:first-child {
    width: calc(var(--size) * 4);
}
td.locked {
    background-image: url("../images/icons/locked.svg");
}
td.ok {
    background-image: url("../images/icons/ok.svg");
}
table-data td a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-overflow: ellipsis;
    overflow: hidden;
}
table-data .navigation {
    display: flex;
    width: 100%;
    margin-top: var(--size);
    font-size: 0.85em;
}
table-data .navigation>div {
    flex: 1;
}
table-data .navigation .count {
    text-align: center;
}
table-data .navigation .pages {
    display: flex;
    text-align: right;
    justify-content: flex-end;
}
table-data .navigation .pages>* {
    margin: 0 var(--size-quarter);
    width: calc(var(--size) * 1.5);
}