:root {
    --border-radius-circle: 50%;
    --border-radius-pill: 500px;
    --border-radius-rounded: 0.25em;
    --border-style: none;
    --size: 16px;
    --size-half: calc(var(--size) / 2);
    --size-quarter: calc(var(--size) / 4);
    --size-double: calc(var(--size) * 2);
    --size-triple: calc(var(--size) * 3);
    --text-size: calc(var(--size) * 1);
    --header-height: calc(var(--size) * 3.5);
    --menu-direction: row;
    --shadow-menu: drop-shadow(2px 2px var(--size) rgba(0,0,0,0.125)) drop-shadow(1px 1px 3px rgba(0,0,0,0.125));
    --border-radius-default: calc(var(--size) / 8);
    --color-bg-header: #fcfcfc;
    --color-bg-body: #EEF2F5;
    --color-bg-inner: #CADAE0;
    --color-bg-light: #e6ecf0;
    --color-bg-form: #E4EBED;
    --color-text: #434343;
    --color-bg-emphasis: #FE4400;
    --color-text-emphasis: #fbfbfb;
    --color-text-lignt: #527B89;
}