
body>header {
	height: 3.5em;
	background-color: #fff;
	display: flex;
	align-items: center;
	padding: 0 1em;
	width: 100%;
	/* position: fixed; */
	/* top: 0; */
	z-index: 2;
}
nav {
	position: relative;
	display: flex;
}
nav button {
	background: transparent url('images/menu.svg') center no-repeat;
	width: 3em;
	height: 3em;
	border-radius: 50%;
	margin: 0 1em 0 -0.5em;
	padding: 0;
}
nav button:hover {
	background-color: rgba(100,130,150,0.2);
}
nav ul {
	position: absolute;
	top: 2.75em;
	left: -0.5em;
	background-color: #fff;
	display: none;
	padding: 0.35em;
	filter: drop-shadow(0.125em 0.125em 0.25em rgba(0,0,0,0.5));
	z-index: 10;
}
nav ul::before {
	content: "";
	width: .75em;
	height: .75em;
	position: absolute;
	top: -0.25em;
	background-color: inherit;
	left: 1em;
	transform: rotate(45deg);
	z-index: 1;
}
nav li {
	position: relative;
	z-index: 2;
	font-size: 0.9em;
}
nav a {
	white-space: nowrap;
	text-decoration: none;
	padding: 0.5em 0.75em;
	display: block;
	margin: 0 0 0.125em 0;
	color: #537d8b
}
nav li:last-child a {
	margin: 0;
}
nav .selected a,
nav .selected a:hover {
	background-color: #9cbcc4;
}
.selected a {
	color: #fff;
	cursor: default;
	font-weight: bold;
}
nav a:hover {
	background-color: rgba(83, 126, 139, 0.1);
}
nav ul.show {
	display: block;
}
.product-logo {
	margin: 0;
	height: 90%;
	display: flex;
	align-items: center;
}
.product-logo svg {
    height: 90%;
}
menu {
	z-index: 10;
}
header menu {
	position: absolute;
	top: 2.75em;
	right: -1em;
	background-color: #527b89;
	padding: 0.8em;
	min-width: 16em;
	filter: drop-shadow(0.125em 0.125em 0.25em rgba(0,0,0,0.125));
	display: none;
}
header menu.show {
	display: block;
}
header menu::before {
	content: "";
	width: .75em;
	height: .75em;
	position: absolute;
	top: -0.25em;
	background-color: inherit;
	right: 1em;
	transform: rotate(45deg);
}
header menu>* {
	font-size: 0.85em;
}
header menu h4 {
	color: rgba(255,255,255,0.8);
	font-weight: normal;
	white-space: nowrap;
	margin: 1.5em 0 0.5em 0;
}
header menu>div:first-child h4 {
	margin: 0 0 0.25em 0;
}
menu .theme div {
	display: flex;
	height: 2.25em;
}
menu .theme button {
	width: 50%;
	background-color: rgba(255, 255, 255, 0.15);
	display: flex;
	align-items: center;
	justify-content: center;
	color: #c2d5db;
}
.selectable {
	cursor: pointer;
}
.selectable:hover {
	background-color: rgba(170, 189, 204, 0.3);
}
li.selected,
menu .theme .selected,
.selected.selectable {
	background-color: #e84005;
	font-weight: bold;
	color: #fff;
	cursor: default;
}
menu .theme .selected:hover {
	opacity: 1;
	cursor: default;
}
menu .theme button::before {
	content: "";
	width: 1.125em;
	height: 1.125em;
	margin: 0 0.5em 0 -0.5em;
	background: transparent url('images/sun.svg') center no-repeat;
}
menu .theme button.dark::before {
	background: transparent url('images/moon.svg') center no-repeat;
}

.help .menu {
	right: 1.6em;
	width: 24em;
	font-size: 0.85em;
	top: 4em;
}
.help .menu::before {
	left: calc(100% - 2.5em)
}
.menu.show {
	display: block;
}
.menu::before {
	content: "";
	width: .75em;
	height: .75em;
	position: absolute;
	top: -0.25em;
	background-color: inherit;
	left: calc(50% - 0.35em);
	transform: rotate(45deg);
	z-index: -1;
}
menu li {
	width: 100%;
	background-color: rgba(255, 255, 255, 0.15);
	display: flex;
	align-items: center;
	margin: 0.125em 0;
	height: 2.25em;
}
menu li a {
	padding: 0 0.75em;
	color: #fff;
	text-decoration: none;
	width: 100%;
}
menu li:hover {
	background-color: rgba(255, 255, 255, 0.25);
}
header .user {
	margin: 0 0 0 auto;
	display: flex;
	align-items: center;
	position: relative;
	outline: none;
}
header .user .identify:hover,
header .user .company:hover,
header .user .opt:hover {
	opacity: 0.7;
	cursor: pointer;
}
.identify {
	display: flex;
	flex-flow: column nowrap;
	text-align: right;
}
.identify strong {
	color: #fe4400;
}
.identify small {
	color: #6897a5;
}
header .company {
	width: 2.5em;
	height: 2.5em;
	display: flex;
	align-items: center;
	justify-items: stretch;
	color: #fff;
	margin: 0 0 0 0.75em;
}
.initials {
	background-color: rgba(88, 141, 156, 0.84);
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	line-height: 1;
	font-weight: bold;
	display: flex;
	border-radius: 50%;
}
.companies a {
	display: flex;
	align-items: center;
}
.companies .initials {
    height: 2.5em;
    width: 2.5em;
    font-size: 0.75em;
    margin: 0 0.75em 0 0;
}
.selected .initials {
	background-color: #fff;
	color: #fe4400;
}
.opt {
	background: transparent url('images/arrow-option.svg') center no-repeat / 0.6em;
	width: 1em;
	height: 1em;
	cursor: pointer;
	padding: 0;
	margin: 0 0 0 0.125em;
}
button.menu {
	position: relative;
}
button.menu::before {
	content: "";
	background: transparent url('images/arrow-option.svg') center no-repeat / contain;
	width: 0.45em;
	height: 100%;
	cursor: pointer;
	padding: 0;
	margin: 0 0 0 0.125em;
	position: absolute;
	top: 0;
	right: -0.5em;
}
.help {
	display: flex;
	align-items: center;
	margin: 0 0 0 1em;
}
.help>button {
	background: rgba(123, 157, 167, 0.7) url(images/question-mark.svg) center no-repeat;
	border-radius: 50%;
	width: 2em;
	height: 2em;
	padding: 0;
	background-size: contain;
}