user-menu {
    order: 2;
    margin: 0 var(--size-half);
}
user-menu .cap>button {
    border-radius: var(--border-radius-circle);
    background: var(--color-bg-inner) url('../images/user-placeholder.svg') no-repeat center / contain;
    transform: scale(0.6);
}
user-menu .cap>button::before {
    transform: scale(1.25);
}
user-menu .cap>button span {
    display: none;
}
user-menu .curtain {
    right: calc(var(--size-half) * -3);
    left: unset;
}
user-menu .curtain li:first-child a:before {
    right: var(--size);
    left: unset;
}
user-menu .curtain ul span {
    white-space: nowrap;
}
user-menu .user-info {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-end;
}
user-menu .user-info span {
    text-align: right;
    white-space: nowrap;
}
user-menu .user-info .name {
    font-size: 0.8em;
    color: var(--color-bg-emphasis);
    font-weight: bold;
}
user-menu .user-info .role {
    font-size: 0.7em;
    color: var(--color-text-lignt);
}