<div class="cap">
    <button>
        <span>Ajuda</span>
    </button>
</div>

<div class="curtain">
    <ul>
        <li class="faq">
            <a href="faq">
                <span>Perguntas e respostas</span>
            </a>
        </li>
        <li class="installing">
            <a href="installing">
                <span>Instalando câmeras</span>
            </a>
        </li>
        <li class="about">
            <a href="about">
                <span>Sobre este software</span>
            </a>
        </li>
    </ul>
</div>