<div class="cap">
    <button>
        <span>Ir para...</span>
    </button>
</div>

<div class="curtain">
    <ul>
        <li class="events">
            <a href="events">
                <span class="icon"></span>
                <span>Eventos</span>
            </a>
        </li>
        <li class="companies">
            <a href="companies">
                <span class="icon"></span>
                <span>Empresas</span>
            </a>
        </li>
        <li class="users">
            <a href="users">
                <span class="icon"></span>
                <span>Usuários</span>
            </a>
        </li>
        <li class="cameras">
            <a href="cameras">
                <span class="icon"></span>
                <span>Câmeras</span>
            </a>
        </li>
    </ul>
</div>