<div class="tools">
    <ul class="tags">
        <li>
            <a href="active">Ativos</a>
        </li>
        <li>
            <a href="locked">Bloqueados</a>
        </li>
    </ul>
    <button class="add">
        <span>
            Adicionar usuário
        </span>  
    </button>
</div>

<table>
    <thead>
        <tr>
            <th></th>
            <th>Nome</th>
            <th>Login</th>
            <th>E-mail</th>
            <th>Perfil</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <a href="">Amanda Vicente Pereira</a>
            </td>
            <td>
                <a href="">amanda</a>
            </td>
            <td>
                <a href="">amanda@companhialtda.com.br</a>
            </td>
            <td>
                <a href="">Administrador</a>
            </td>
        </tr>
    </tbody>
</table>

<div class="navigation">
    <div class="current">
        Página 
        <span>1</span>
        de 
        <span>5</span>
    </div>
    <div class="count">
        <span class="filter">
            Filtrados: <span>22</span>
        </span>
        <span class="total">
            Total: <span>26</span> uuários
        </span>
    </div>
    <div class="pages">
        <span>1</span>
        <a href="#page2">2</a>
        <a href="#page3">3</a>
        <a href="#page4">4</a>
        <a href="#page5">5</a>
    </div>
</div>

