<div class="cap">
    <div class="user-info">
        <span class="name">Gerêncio Geraldo</span>
        <span class="role">Gerente</span>
    </div>
    <button>
        <span>AB</span>
    </button>
</div>

<div class="curtain">
    <ul>
        <li>
            <a href="#notifications">Notificações</a>
        </li>
        <li>
            <a href="#my-account">Minha conta</a>
        </li>
        <li>
            <a href="#exit">Sair</a>
        </li>
    </ul>
</div>